# Directories
classDocs/
Deepfish/
datasets/
testVideos/
videoZip/
outputVideos/
processed_videos/
roboflow/
GUI_processed_videos/
groundTruthVids/
oldModels/

runs/
__pycache__/

# Large files and archives
*.zip
*.pt
*.cache

# Output videos
*.avi
*.mp4
*.mov

# macOS
.DS_Store

# IDE
.vscode/
.idea/
